<ion-view view-title="Forgot password"> 
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>
	<ion-content class="padding">
		<p>Please enter your registered phone number!</p>
		<br>
		<div class="form">
			<div class="list">
		        <label class="item item-input">
		          <input type="tel" ng-model="resetData.phone" placeholder="Phone Number">
		        </label>
		    <div>
		    	<button class="button button-energized button-full" ng-click="reset(resetData)">Reset password</button>
		</div>
		<br>
		<p ng-if="string" class="text-center">We've setup a temporary password for you! Use this for logging in to your account <br><br>
			<div class="col-50 col-offset-25" ng-if="string">
				<center><input type="text" value="{{string}}" class="passResetInput" readonly ></center>
			</div>
	</ion-content>
</ion-view>