<ion-view view-title="Fruits">
	<ion-content class="has-header">

		<ion-list>
			<ion-item class="item-thumbnail-left item-button-right" href="#/app/banana">
				<img src="img/fruits/banana.jpg">
			    <h2 class="green">Banana</h2>
			    <p>Banana is yellow in color</p>
			    <h4 class="price">Rs.120</h4>
			    <button class="button button-balanced icon ion-android-cart"></button>
			</ion-item>
			<ion-item class="item-thumbnail-left item-button-right">
				<img src="img/fruits/custard.jpg">
			    <h2 class="green">Custard apple</h2>
			    <p>Custard apple is green in color</p>
			    <h4 class="price">Rs.95</h4>
			    <button class="button button-balanced"><i class="icon ion-android-cart"></i></button>
			</ion-item>
			<ion-item class="item-thumbnail-left item-button-right">
				<img src="img/fruits/orange.jpg">
			    <h2 class="green">Orange</h2>
			    <p>Orange is orange color</p>
			    <h4 class="price">Rs.200</h4>
			    <button class="button button-balanced"><i class="icon ion-android-cart"></i></button>
			</ion-item>
			<ion-item class="item-thumbnail-left item-button-right">
				<img src="img/fruits/pear.jpg">
			    <h2 class="green">Pear</h2>
			    <p>Pear is a good fruit like apple</p>
			    <h4 class="price">Rs.155</h4>
			    <button class="button button-balanced"><i class="icon ion-android-cart"></i></button>
			</ion-item>
		</ion-list>

	</ion-content>
</ion-view>