<ion-view view-title="Make request">
  <ion-content class="padding">
    <!--<ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>-->

    <form class="requestForm">

      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="requestData.username" placeholder="Patient Name">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="requestData.attendeeName" placeholder="Attendee Name">
        </label>
        <label class="item item-input">
          <input type="tel" ng-model="requestData.attendeeNumber" placeholder = "Attendee phone number ">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            State
          </div>
          <select ng-model="requestData.state">
            <option ng-init="requestData.state = States[0].state" ng-repeat="state in States" value="{{state.state}}">{{state.state}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            District
          </div>
          <select ng-model="requestData.district">
            <option ng-repeat="district in Districts | filter : {state: requestData.state}" value="{{district.district}}">{{district.district}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            City
          </div>
          <select ng-model="requestData.city">
            <option ng-repeat="area in Areas | filter : {district: requestData.district}" value="{{area.city}}">{{area.city}}</option>
          </select>
        </label>
        <label class="item item-input">
          <input type="text" ng-model="requestData.hospitalName" placeholder="Hospital Name">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Blood group
          </div>
          <select ng-model="requestData.bloodgroup">
            <option value="A+ve">A+ve</option>
            <option value="A-ve">A-ve</option>
            <option value="B+ve">B+ve</option>
            <option value="B-ve">B-ve</option>
            <option value="AB+ve">AB+ve</option>
            <option value="AB-ve">AB-ve</option>
            <option value="O+ve">O+ve</option>
            <option value="O-ve">O-ve</option>
          </select>
        </label>
        <li class="item item-toggle">
           Urgent?
           <label class="toggle toggle-balanced">
             <input type="checkbox" ng-init="requestData.urgent = true" ng-model="requestData.urgent">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
          <button class="button button-block button-assertive button-outline" ng-click="request(requestData)">Make request</button>
      </div>

    </form>

  </ion-content>
</ion-view>
