<ion-view>
  <!--<ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>-->
  <ion-content class="padding">
    <form >
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="signupData.username" placeholder="Username">
        </label>
        <label class="item item-input">
          <input type="email" ng-model="signupData.email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="tel" ng-model="signupData.phone" placeholder="Phone Number">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            State
          </div>
          <select ng-model="signupData.state">
            <option ng-init="signupData.state = States[0].state" ng-repeat="state in States" value="{{state.state}}">{{state.state}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            District
          </div>
          <select ng-model="signupData.district">
            <option ng-repeat="district in Districts | filter : {state: signupData.state}" value="{{district.district}}">{{district.district}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            City
          </div>
          <select ng-model="signupData.city">
            <option ng-repeat="area in Areas | filter : {district: signupData.district}" value="{{area.city}}">{{area.city}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Blood group
          </div>
          <select ng-model="signupData.bloodgroup">
            <option value="A+ve">A+ve</option>
            <option value="A-ve">A-ve</option>
            <option value="B+ve">B+ve</option>
            <option value="B-ve">B-ve</option>
            <option value="AB+ve">AB+ve</option>
            <option value="AB-ve">AB-ve</option>
            <option value="O+ve">O+ve</option>
            <option value="O-ve">O-ve</option>
          </select>
        </label>
             <input type="hidden" ng-init="signupData.communication = false" ng-model="signupData.communication">
          <li class="item item-toggle">
             Wish to be a donor ?
             <label class="toggle toggle-balanced">
               <input type="checkbox" ng-init="signupData.wish = true" ng-model="signupData.wish">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        <label class="item item-input">
          <input type="password" ng-model="signupData.password" placeholder="Password">
        </label>
          <button class="button button-block button-assertive" ng-click="signup(signupData)">Sign up</button>
          <a href="#/login" class="button button-outline button-assertive button-block">Already registered? sign in!</a>
      </div>
    </form>

  </ion-content>
</ion-view>
