<ion-view view-title="Requests">
  <ion-content class="myRequestContent">
    <ion-list can-swipe="listCanSwipe">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search">
      </label>
      <ion-item class="item-avatar"  ng-repeat="request in requests | filter : search">
        <img ng-src="img/bloodgroup/{{request.bloodgroup}}.png">
        <h2 class="donor-name">{{request.patientName}}
          <span class="item-note urgent" ng-show="request.urgency">Urgent</span>
          <span class="item-note notUrgent" ng-hide="request.urgency">Not Urgent</span>
        </h2>
        <div class="row">
          <p class="col-50"><strong><i class="icon ion-person-stalker"></i></strong> &nbsp;&nbsp; {{request.attendee}}</p>
          <p class="col-50"><strong><i class="icon ion-iphone"></i></strong> &nbsp;&nbsp; {{request.attendeeNumber}}</p>
        </div>
        <div class="row">
          <p><strong><i class="icon ion-medkit"></i></strong> &nbsp;&nbsp; {{request.hospital}}</p>
        </div>
        <ion-option-button class="button-assertive" ng-click="delete(request)">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
