<ion-view view-title="Urgent Requests">
  <ion-content class="myRequestContent">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search">
      </label>
    </div>
    <div class="card"  ng-repeat="request in requests | filter : search" ng-show="request.urgency">
      <div class="item item-divider item-icon-left">
        <i class="icon ion-person card-icon"></i>
        <h2>{{request.patientName}}</h2>
      </div>
      <div class="item item-text-wrap card-item">
        <div class="row">
          <p class="col-50">
            <strong><i class="icon ion-person-stalker"></i></strong> &nbsp;&nbsp; {{request.attendee}}
          </p>
          <p class="col-50">
            <strong><i class="icon ion-iphone"></i></strong> &nbsp;&nbsp; {{request.attendeeNumber}}
          </p>
        </div>
        <div class="row">
          <p>
            <strong><i class="icon ion-medkit"></i></strong> &nbsp;&nbsp; {{request.hospital}}
          </p>
        </div>
        <!--<p><strong>Attendee Name :</strong> {{request.attendee}}</p>-->
      </div>
      <div class="row item item-divider card-footer">
          <div class="col-33">
            <button class="button button-clear button-assertive button-full"><strong>{{request.bloodgroup}}</strong></button>
          </div>
          <div class="col-33">
            <button class="button button-clear button-balanced button-full" ng-show="request.urgency"><i class="icon ion-android-alarm-clock card-icon"></i></button>
            <button class="button button-clear button-energized button-full" ng-hide="request.urgency"><i class="icon ion-android-alarm-clock card-icon"></i></button>
          </div>
          <div class="col-33">
            <button class="button button-clear button-assertive button-full" ng-click="delete(request)"><i class="icon ion-ios-trash card-icon"></i></button>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
