.bar-header{
	height: 48px;
}
.has-header{
	top: 48;
}
.menuItem{
	border: none;
}
.menu-content{
	background: #C0CA33;
}
.menuItem.item{
	background: transparent;
}
.menuItem .item-content{
	background: transparent;
	color: #fff;
	padding-bottom: 12px;
	padding-top: 12px;
}
.menuItem a:active,.menuItem a:focus,.menuItem a:visited{
	background: #9E9D24;
}
.menuItem a.activated{
	background: #9E9D24;
}
.slide-box{
	height: 200px;
}
.green{
	color: #9E9D24;
}
.category-image{
	width: 40px;
	height: 40px;
}
.category{
	height: 110px;
	margin-bottom: 10px;
	color: #333;
	text-decoration: none;
}
.item-divider{
	background: #9E9D24;
	border: #9E9D24;
}
.price{
	color:#d32f2f;
	font-size: 18px !important;
}
.header-button .icon{
	font-size: 16px !important;
	color: #9E9D24;
}
.item-complex{
	padding-right: 0;
}